@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #2d3a47; 
    color: #fff; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
}

header .logo img {
    width: 50px;
    margin-bottom: 50px;
}

main h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

main p {
    font-size: 1.1rem;
    color: #b0b6c1;
    margin-bottom: 30px;
}

/* START MAKING JOURNEY BUTTON */ 
button {
    position: relative;
    padding: 12px 35px;
    background: #00ebfc;
    font-size: 17px;
    font-weight: 500;
    color: #2f00ff;
    border: 3px solid #038dff;
    border-radius: 8px;
    box-shadow: 0 0 0 #00ebfc;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 0;
}
  
.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #00ebfc);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
  
.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #00ebfc);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
  
.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #00ebfc);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
  
.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #00ebfc);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
  
.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #00ebfc);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}
  
.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #00ebfc);
    z-index: -5;
    transition: all 0.8s ease;
}
  
button:hover {
    background: transparent;
    color: #00ebfc;
    box-shadow: 0 0 25px #00ebfc;
}
  
button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #00ebfc);
    z-index: 2;
}
  
button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #00ebfc);
    z-index: 2;
}
  
button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #00ebfc);
    z-index: 2;
}
  
button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #00ebfc);
    z-index: 2;
}
  
button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #00ebfc);
    z-index: 2;
}
  
button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #00ebfc);
    z-index: 2;
}
  
.fil0 {
    fill: #ffffff;
}

footer {
    margin-top: 50px;
    font-size: 0.9rem;
    color: #8c98a4;
}